<FOREACH.STATIC.OBJECTS:f>
	<STATIC.OBJECT>
<END.STATIC.OBJECTS>
<FOREACH.AUTOLOADS>
    <FOREACH.AUTOLOAD.OBJECTS:f>
	<AUTOLOAD.OBJECT>
    <END.AUTOLOAD.OBJECTS>
    <FOREACH.AUTOLOAD.LIBRARIES:f>
	-l<AUTOLOAD.LIBRARY>
    <END.AUTOLOAD.LIBRARIES>
<END.AUTOLOADS>
<FOREACH.OVERLAYS>
	-og <OVERLAY.GROUP>,0 -ol <OVERLAY.NAME>
	<FOREACH.OVERLAY.OBJECTS:f>
		<OVERLAY.OBJECT>
	<END.OVERLAY.OBJECTS>
<END.OVERLAYS>
